<div id="NavigationPart" ng-controller="NavigationController">

    <nav class="navbar navbar-expand-sm navbar-light bg-light">

        <a class="navbar-brand">f-vision</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">

            <ul class="navbar-nav">

                <li class="nav-item" ng-repeat="item in menuItems" ng-if="isMenuItemVisible(item)" data-toggle="collapse" data-target="#navbar">

                    <a class="nav-link" ng-href="{{'#!' + item.link}}" ng-class="{'active': $location.path() == item.link}" ng-attr-id="{{item.title}}">
                        {{ item.title }}
                    </a>

                </li>

            </ul>

        </div>

    </nav>

</div>
